.main-container {
    width:100%;
    height:100%;
    background-color: #EFEFEF;
}

.content-area {
    margin-left:250px;
    margin-right:250px;
    background-color:white;
    height: 100%;
}

.register-container {
    background-color:#b4cefc;
    height:66%;
    font-family:'Roboto';
    border-radius: 10px;
    margin: auto;
    width: 40%;
    color: black;
    font-weight: bold;
}

#register-title {
    font-family: 'Open Sans';
    font-size:20px;
    font-weight: bold;
    padding-bottom:13px;
    padding-bottom:30px;
    padding-top:30px;
    text-align: center;
}

.form-label {
    font-family: 'Open Sans';
    font-size:18px;
    padding-top:30px;
    padding-left:25px;

}

input {
    margin-left:25px;
    margin-top:10px;
    width: 80%;
}

.top-bottoms {
    display: flex;
}

#create-button {
    margin-top:25px;
    font-family: 'Open Sans';
    margin-right:20px;
    font-weight: bold;
}

#go-back-button a {
    font-family: 'Open Sans';
    text-decoration: none;
    color:white;
    font-weight: bold;
}

#go-back-button { 
    margin-top:8px;
}

#create-button {
    margin-left:23px;
    margin-bottom:19px;
}
