<div class="container">
  <div class="row">
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
        </tr>
      </thead>
      <tbody *ngFor="let book of books | paginate:{itemsPerPage: 5, currentPage:p}"
        [class.selected]="book === selectedBook" (click)="onSelect(book)">
        <tr>
          <td>
            <div class="books-row">
              <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{book.image_url}}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title"> {{book.title}}</h5>
                  <p class="card-text"> {{book.authors}}</p>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div id="pagination">
      <pagination-controls (pageChange)="p=$event"></pagination-controls>
    </div>
  </div>
</div>